<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <a href="javascript:halamanUtama()"><h3>Table Service</h3></a>
                
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="javascript:halamanPesanan()">Pesanan Baru</a>
            </li>
            <li>
                <a href="javascript:halamanDataPesanan()">Pesanan Masuk</a>
            </li>
            <li>
                <a href="javascript:halamanPembayaran()">Pembayaran</a>
            </li>
            <li>
                <a href="javascript:halamanTambahMenu()">Menu</a>
            </li>
            <li>
                <a href="javascript:halamanTambahMeja()">Tambah Meja</a>
            </li>
        </ul>
    </nav>
